$break-point-tablet: 960px;

:export {
  breakPointTablet: $break-point-tablet;
}

$width-max-pc: 1080px;

$color-white: #ffffff;
$color-lightGray: #ebeef3;
$color-beige: #efe4dc;
$color-orange: #e59aa1;
$color-lightPurple: #bc95d7;
$color-purple: #7b31b1;
$color-darkPurple: #4e4187;
$color-lightBlue: #95a7f8;
$color-blue: #275dad;
$color-green: #508ca4;
